[user]
	name = noblejasper
	email = nobjas@gmail.com
[core]
    pager = lv -c
[color]
    # colorの設定(以下のコマンドは自動で色つける)
    ui = auto
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto
[alias]
    co = checkout
    ci = commit -a
    st = status
    up = pull --rebase
[github]
	user = noblejasper
	token = 2a9980c3c3149e74a4f25815e1a562dd
