.emacs.d/lib
.emacs.d/undohist
.emacs.d/tramp
.emacs.d/ruby
.emacs.d/share
.emacs.d/auto-save-list
.emacs.d/.org-id-locations
.emacs.d/anything-c-adaptive-history
.emacs.d/abbrev_defs
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list
