# Template Helpers

".text.html":

  "HTML: Template: scope":
    "prefix": "%"
    "body": "<% ${1} %>"

  "HTML: Template: Variable":
    "prefix": "%="
    "body": "<%= ${1} %>"

  "HTML: Template: if":
    "prefix": "%if"
    "body": """
    <% if (${1}) { %>
      ${2}
    <% } // endif %>
    """

  "HTML: Template: else":
    "prefix": "%ifels"
    "body": """
    <% if (${1}) { %>
      ${2}
    <% } else { %>
      ${3}
    <% } // endif %>
    """

  "HTML: Template: for":
    "prefix": "%for"
    "body": """
    <% for (var i = 0; i < ${1}.length; i++) { %>
      ${2}
    <% } // endfor %>
    """

  "HTML: Template: each":
    "prefix": "%each"
    "body": """
    <% _.each(${1}, function (item) { %>
      ${2:<%= item %>}
    <% }); // endeach %>
    """

  "HTML: Template: in":
    "prefix": "%in"
    "body": """
    <% for (var item in ${1}) { %>
      ${2}
    <% } // endfor %>
    """

  "HTML: Backbone Template":
    "prefix": "%template"
    "body": """
    <script type="text/x-template" id="${1}">
      <div>
        ${2}
      </div>
    </script>
    """
