"*":
  "aligner-python":
    ":-leftSpace": true
  "atom-beautify":
    _analyticsUserId: "21d09d52-6271-4f0e-ad21-e1e3f9bd06ee"
    general:
      _analyticsUserId: "6ceb357c-1aa7-4ab1-9137-464b7143d993"
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "autocomplete-elixir": {}
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
  "autocomplete-python":
    extraPaths: '''
      /usr/local/opt/pyenv/versions/tyrus2.7.9/lib/python2.7/site-packages
      
    '''
    pythonPaths: '''
      /usr/local/opt/pyenv/versions/tyrus2.7.9/bin/python
      
    '''
  "bracket-matcher":
    autocompleteBrackets: false
  core:
    disabledPackages: [
      "atom-alignment"
      "sort-lines"
      "atom-color-highlight"
      "linter-elixirc"
      "autocomplete-elixir"
      "color-picker"
      "pigments"
      "wercker-status"
      "alignment"
      "japanese-wrap"
      "python-isort"
      "atomic-emacs"
      "symbols-tree-view"
      "tablr"
      "linter-jshint"
      "linter-pylint"
    ]
    followSymlinks: true
    ignoredNames: [
      ".git"
      ".bundle"
      ".sass-cache"
      "vendor"
    ]
    themes: [
      "seti-ui"
      "monokai"
    ]
  "disable-keybindings":
    communityPackages: [
      "Emmet"
    ]
    prefixKeys: [
      "ctrl-w"
    ]
  editor:
    backUpBeforeSaving: true
    ensure_newline_at_eof_on_save: true
    fontFamily: "Ricty Diminished"
    fontSize: 16
    invisibles: {}
    preferredLineLength: 130
    showIndentGuide: true
    showInvisibles: true
    show_full_path: true
    softTabs: false
    softWrap: true
    tabLength: 4
    tabType: "soft"
    translate_tabs_to_spaces: true
    trim_trailing_white_space_on_save: true
    useShadowDOM: false
  "emacs-mode":
    hideSidebar: false
    hideTabs: false
    useEmacsCursor: true
    useFuzzyBufferFinder: false
    useFuzzyFileFinder: false
  "exception-reporting":
    userId: "fa06383b-9023-9082-cb83-6c0ba6b7ca5b"
  "git-plus": {}
  "inline-autocomplete":
    includeCompletionsFromAllBuffers: true
    includeGrammarKeywords: true
  "japanese-wrap":
    characterWidth: {}
  linter:
    gutterPosition: "Left"
    ignoreMatchedFiles: "*.es6"
    lintOnChange: true
    statusBar: "Show error if the cursor is in range"
    statusIconPosition: "Right"
  "linter-elixirc":
    elixircExecutablePath: "/usr/local/bin/"
  "linter-eslint":
    disableWhenNoEslintConfig: false
  "linter-pylint": {}
  "linter-python-pep8":
    ignoreErrorCodes: "E501, W292"
    pep8DirToExecutable: "/usr/local/opt/pyenv/shims/flake8"
  "linter-python-pyflakes":
    pyflakesDirToExecutable: "/usr/local/opt/pyenv/shims/"
  "python-isort":
    isortPath: "/usr/local/opt/pyenv/versions/global2.7.9/bin/"
  "python-tools": {}
  "run-command":
    precedeCommandsWith: "export PATH=${PATH}:/usr/local/bin; echo $PATH; source ~/.profile"
  "symbols-tree-view":
    autoToggle: true
  welcome:
    showOnStartup: false
  "wercker-status":
    Interval_Minutes: 2
".3.actionscript.source":
  editor:
    preferredLineLength: 130
".asdoc.html.text":
  editor:
    preferredLineLength: 130
".basic.html.text":
  editor:
    preferredLineLength: 130
".coffee.source":
  editor:
    preferredLineLength: 130
    tabLength: 2
".console.python.text":
  editor:
    preferredLineLength: 130
".elixir.html.text":
  editor:
    preferredLineLength: 130
".elixir.source":
  editor:
    preferredLineLength: 130
".elixir.text":
  editor:
    preferredLineLength: 130
".flex-config.text.xml":
  editor:
    preferredLineLength: 130
".html.jinja.text":
  editor:
    preferredLineLength: 130
".jinja.source":
  editor:
    preferredLineLength: 130
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 130
    tabLength: 4
".js.regexp.source":
  editor:
    preferredLineLength: 130
    tabLength: 4
".js.source":
  editor:
    preferredLineLength: 130
    tabLength: 4
".litcoffee.source":
  editor:
    preferredLineLength: 130
".python.regexp.source":
  editor:
    preferredLineLength: 130
".python.source":
  editor:
    preferredLineLength: 130
".python.text.traceback":
  editor:
    preferredLineLength: 130
"linter-python-pyflakes":
  pyflakesDirToExecutable: "/usr/local/opt/pyenv/shims/pyflakes"
