"*":
  "exception-reporting":
    userId: "fa06383b-9023-9082-cb83-6c0ba6b7ca5b"
  welcome:
    showOnStartup: false
  core:
    followSymlinks: true
    themes: [
      "seti-ui"
      "monokai"
    ]
    ignoredNames: [
      ".git"
      ".bundle"
      ".sass-cache"
      "vendor"
    ]
    disabledPackages: [
      "atom-alignment"
      "sort-lines"
      "atom-color-highlight"
      "linter-elixirc"
      "autocomplete-elixir"
      "color-picker"
      "pigments"
      "wercker-status"
      "alignment"
      "japanese-wrap"
      "python-isort"
      "atomic-emacs"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    preferredLineLength: 130
    tabLength: 4
    useShadowDOM: false
    ensure_newline_at_eof_on_save: true
    show_full_path: true
    translate_tabs_to_spaces: true
    trim_trailing_white_space_on_save: true
    fontFamily: "Ricty Diminished"
    showInvisibles: true
    softWrap: true
    fontSize: 17
  "emacs-mode":
    hideTabs: false
    hideSidebar: false
    useEmacsCursor: true
    useFuzzyFileFinder: false
    useFuzzyBufferFinder: false
  linter:
    lintOnChange: false
    statusBar: "Show error if the cursor is in range"
    ignoredLinterErrors: [
      "pyflakes"
      "jshint"
    ]
    statusIconPosition: "Right"
  "linter-python-pyflakes":
    pyflakesDirToExecutable: "/usr/local/opt/pyenv/versions/global2.7.9/bin/"
  "linter-python-pep8":
    pep8DirToExecutable: "/usr/local/opt/pyenv/versions/global2.7.9/bin/"
    ignoreErrorCodes: "E501, W292"
  "python-isort":
    isortPath: "/usr/local/opt/pyenv/versions/global2.7.9/bin/"
  "symbols-tree-view":
    autoToggle: true
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "run-command":
    precedeCommandsWith: "export PATH=${PATH}:/usr/local/bin; echo $PATH; source ~/.profile"
  "bracket-matcher":
    autocompleteBrackets: false
  "inline-autocomplete":
    includeCompletionsFromAllBuffers: true
    includeGrammarKeywords: true
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
  "git-plus": {}
  "japanese-wrap":
    characterWidth: {}
  "autocomplete-elixir": {}
  "linter-elixirc":
    elixircExecutablePath: "/usr/local/bin/"
  "disable-keybindings":
    prefixKeys: [
      "ctrl-w"
    ]
    communityPackages: [
      "Emmet"
    ]
  "wercker-status":
    Interval_Minutes: 2
  "aligner-python":
    ":-leftSpace": true
  "autocomplete-python":
    pythonPaths: '''
      /usr/local/opt/pyenv/versions/tyrus2.7.9/bin/python
      
    '''
    extraPaths: '''
      /usr/local/opt/pyenv/versions/tyrus2.7.9/lib/python2.7/site-packages
      
    '''
".basic.html.text":
  editor:
    preferredLineLength: 130
".js.regexp.source":
  editor:
    preferredLineLength: 130
".elixir.html.text":
  editor:
    preferredLineLength: 130
".console.python.text":
  editor:
    preferredLineLength: 130
".python.text.traceback":
  editor:
    preferredLineLength: 130
".python.regexp.source":
  editor:
    preferredLineLength: 130
".html.jinja.text":
  editor:
    preferredLineLength: 130
".3.actionscript.source":
  editor:
    preferredLineLength: 130
".asdoc.html.text":
  editor:
    preferredLineLength: 130
".flex-config.text.xml":
  editor:
    preferredLineLength: 130
".js.source":
  editor:
    preferredLineLength: 130
".elixir.text":
  editor:
    preferredLineLength: 130
".elixir.source":
  editor:
    preferredLineLength: 130
".python.source":
  editor:
    preferredLineLength: 130
".jinja.source":
  editor:
    preferredLineLength: 130
"linter-python-pyflakes":
  pyflakesDirToExecutable: "/usr/local/opt/pyenv/shims/pyflakes"
